@import url('https://fonts.googleapis.com/css?family=Tangerine');
body {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(0,194,255,.8);
}

#map {
  height: 105vh;
  width: 100%;
}

.map-name {
  font-family: 'Tangerine', serif;
  text-align: center;
  padding: 0;
  margin: 0;
}

.header {
  font-family: 'Tangerine', serif;
  font-size: 1.5em;
  background-color: #00b386;
  padding: 5px;
  margin: 0;

}

.header input{
  font-family: 'Tangerine', serif;
  font-size: 0.8em;
  width: 100%;
  border-radius: 1px;
  background-color: #e6fff9;
  padding: 0;
  margin-top: 2px;
}

.header ul{
  padding-left: 25px;
  margin: 0;
}

.anchors {
  font-family: 'Tangerine', serif;
  width: 200px;
}

#wiki {
  float: right;
  font-size: 0.8em;
}

@media screen and (min-width: 600px){
  .header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100%;
  }
}

@media screen and (min-width: 900px){
  body {

  }
}
